<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Example</title>
<link rel="stylesheet" href="assets/css/main.css">

<script type="text/template" id="AllAblumsViewTmpl" > 
    <a href="#" class="createAlbum">create album</a>&nbsp;
    <div id="myCreateAlbumViewHtml"></div>
	<div id="myAlbumsViewHtml"></div>
</script>


<script type="text/template" id="myAlbumViewTmpl" > 
		<b><%= title %></b><br/><%= description %><br/><%= created_on %>
        <div><img src="<%= thumbnail_video.thumbnails.thumbnail[1]._content %>"></div>
        <div class="album-links">
        	<a href="#" class="deleteAlbum">del</a>&nbsp;
        	<a href="#" class="editAlbum">edit</a>&nbsp;
        	<a href="#" class="viewAlbum">view</a>
        	<a href="#" class="addVideo">add video</a>
        </div>
</script>

<script type="text/template" id="myCreateAlbumViewTmpl"> 
	<form action="">
		<input type="text" id="id" placeholder="enter video id" /><br/>
		<input type="text" id="title" placeholder="enter video title" /><br/>
		<textarea id="videodesc">add description</textarea><br/>
		<input type="submit" class="createAlbumSubmit" value="Create album" />
	</form>
</script>



</head>


<body>

	<div id="AllAblumsViewHtml"></div>


    <script src="assets/js/libs/jquery-1.7.1.min.js"></script>
    <script src="assets/js/libs/jquery.tmpl.min.js"></script>
    <script src="assets/js/libs/underscore-1.3.3.min.js"></script>
    <script src="assets/js/libs/backbone.js"></script>

    <script type="text/javascript" src="src/application.js"></script>

</body>

</html>
