<div class="thumbnail"><img src="${url_thumbnail}"></div>
<div class="video-links">
	<a href="#delete-${id}" name="delete-${id}" class="delete-video" data-id="${id}">delete</a>&nbsp;
	<a href="#edit-${id}" name="edit-${id}" class="like-video" data-id="${id}">like (залайкало: ${number_of_likes})</a>&nbsp;
	<a href="#view-${id}" name="view-${id}" class="view-video" data-id="${id}">view</a>
</div>
<div class="view-video-block"></div>



<script id="editAlbumsTemplate" type="text/x-jquery-tmpl"> 
	<form id="edit" action="">
		<input type="text" id="videotitle" placeholder="${title}" /><br/>
		<textarea id="videodesc" placeholder="${description}"></textarea><br/>
		<input type="submit" value="edit title, description" />
	</form>
</script>