<div><img src="<%= url_thumbnail %>"></div>
<div class="album-links">
	<a href="#delete-<%= id %>" namte="delete-<%= id %>" class="delete-album" data-id="<%= id %>">del album</a>&nbsp;
	<a href="#edit-<%= id %>" name="edit-<%= id %>" class="edit-album" data-id="<%= id %>">edit</a>&nbsp;
	<a href="#view-<%= id %>" name="view-<%= id %>" class="view-album" data-id="<%= id %>">view album</a>
	<a href="#add-<%= id %>" name="add-<%= id %>" class="add-video" data-id="<%= id %>">add video</a>
</div>
<div class="video-tools" style="margin:10px 0 0 20px;">
	<div class="edit-album-block"></div>
	<div class="add-video-block"></div>
	<div class="list-video"></div>
</div>
