<div class="video-tools" style="margin:10px 0 0 20px;">
	<div class="edit-album-block"></div>
	<div class="add-video-block"></div>
	<div class="list-video"></div>
</div>



<script id="tmplListVideo" type="text/x-jquery-tmpl">
    <div class="video">
    	<b>${title}</b><br/>${description}<br/>${date}
    	<div class="thumbnail"><img src="${url_thumbnail}"></div>
    	<div class="video-links">
    		<a href="#delete-${id}" name="delete-${id}" class="delete-video" data-id="${id}">delete</a>&nbsp;
    		<a href="#edit-${id}" name="edit-${id}" class="like-video" data-id="${id}">like (залайкало: ${number_of_likes})</a>&nbsp;
    		<a href="#view-${id}" name="view-${id}" class="view-video" data-id="${id}">view</a>
    	</div>
    	<div class="view-video-block"></div>
    </div>
</script>  



<script id="createAlbumsTemplate" type="text/x-jquery-tmpl"> 
	<form class="create-album" action="">
		<input type="text" id="videoid" placeholder="enter video id" /><br/>
		<input type="text" id="videotitle" placeholder="enter video title" /><br/>
		<textarea id="videodesc">add description</textarea><br/>
		<input type="submit" value="Create album" />
	</form>
</script>

<script id="tmplAddVideo" type="text/x-jquery-tmpl"> 
	<form class="form-add-video" action="">
		<input type="text" id="videoid" placeholder="enter video id" /><br/>
		<input type="submit" value="add video" />
	</form>
</script>

<script id="editAlbumsTemplate" type="text/x-jquery-tmpl"> 
	<form id="edit" action="">
		<input type="text" id="videotitle" placeholder="${title}" /><br/>
		<textarea id="videodesc" placeholder="${description}"></textarea><br/>
		<input type="submit" value="edit title, description" />
	</form>
</script>